<div class="container video-page">
  <div class="row">
    <div class="box small-9 medium-9 large-9 clearfix">
    <h1>VIDEOS</h1>
        <div class="videos clearfix">
      <% @videos.each do |v| %>
        <!-- <h4><%= v.title %></h4> -->
        <iframe width="300" height="225" src="//www.youtube.com/embed/<%= v.url %>" frameborder="0" allowfullscreen></iframe>
        <% if user_signed_in? %>
          <div>
            <%= button_to "Edit", edit_video_path(v.id), :method => "get", action: "edit", :class => "tiny radius button left" %>
            <%= button_to "Delete", video_path(v.id), :method => "delete", :confirm => "Are you sure?", :class => "tiny radius button" %>
          </div>
        <% end %>
        <!-- <hr> -->
      <% end %>
      </div>
    </div>
  </div>
</div>

