<div class="container">
  <div class="row large-9 music">
  <h1>MUSIC</h1>
  <iframe style="border: 0; width: 350px; height: 470px;" src="http://bandcamp.com/EmbeddedPlayer/album=3206561127/size=large/bgcol=333333/linkcol=ffffff/tracklist=false/transparent=true/" seamless><a href="http://divisionmen.bandcamp.com/album/under-the-gun">Under The Gun by The Division Men</a></iframe>

    <% @songs.each do |s| %>

      <h4><%= s.title %></h4>

      <%= s.embed %>

      <% if user_signed_in? %>
        <div>
          <%= button_to "Edit", edit_song_path(s.id), :method => "get", action: "edit", :class => "small radius button left" %>
          <%= button_to "Delete", song_path(s.id), :method => "delete", :confirm => "Are you sure?", :class => "small radius button" %>
        </div>
      <% end %>
      <!-- <hr> -->
    <% end %>
  </div>
</div>

<iframe style="border: 0; width: 100%; height: 120px;" src="http://bandcamp.com/EmbeddedPlayer/album=3206561127/size=large/bgcol=ffffff/linkcol=0687f5/tracklist=false/artwork=small/track=2935271337/transparent=true/" seamless><a href="http://divisionmen.bandcamp.com/album/under-the-gun">Under The Gun by The Division Men</a></iframe>
