<div class="container photo-page">
  <div class="row">
    <div class="box small-12 medium-9 large-9 clearfix">
    <h2>PHOTOS</h2>
      <div class="photos clearfix">
        <% @photos.each do |p| %>
        <div><%= p.url %></div>
        <% if user_signed_in? %>
          <div>
            <%= button_to "Edit", edit_video_path(v.id), :method => "get", action: "edit", :class => "tiny radius button left" %>
            <%= button_to "Delete", video_path(v.id), :method => "delete", data: {confirm: "Are you sure?"}, :class => "tiny radius button left" %>
          </div>
        <% end %>
        <!-- <hr> -->
        <% end %>
      </div>
    </div>
  </div>
</div>

