/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require hover
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */

 body {
  background: #26292C;
  width: 100%;
  height: 100%;
 }

 h1, h2, h3, h4, h5, h6, p {
  color: #cbcbcb;
  text-align: center;
  font-weight: lighter;
  /*font-family: "Lato";*/
 }

 h4, p {
  text-align: left;
 }

 h1 {
  padding-bottom: 1em;
 }

.box {
  background-color:rgba(0,0,0,0.8);
  border-radius: 10px;
  padding: 1em;
}

.logo {
  width: 100%;
  /*height: 90%;*/
  text-align: center;
  position: relative;
  top: 40%;
  padding: 0 1em;
}

/*nav {
  background: #26292c;
  -webkit-box-shadow: 0px 1px 5px #fff;
  -moz-box-shadow: 0px 1px 5px #fff;
  box-shadow: 0px 1px 5px #fff;
}*/

.nav {
  /*width: 80%;*/
  border-bottom: 1px solid #555;
  height: 3em;
  margin: 0 auto;
  text-align: center;
}

.nav:nth-child(2) {
  border: none;
}

.nav span {
  margin-left: 5em;
  line-height: 3em;
}

.nav span:nth-child(1) {
  margin-left: 0;
}

.nav a {
  color: #CBCBCB;
  font-weight: lighter;
}

.nav a:hover {
  text-decoration: overline;
}

.user-nav {
  font-size: 0.8em;
  border: none;
}

.container {
  padding: 2em;
  padding-top: 4em;
}

/*table {
  width: 100%;
  border-radius: 10px;
  background: none;
}*/

.icons {
  margin-left: 5px;
  padding-top: 1em;
  text-align: center;
  height: 60px;
  height: 60px;
}

.icons:nth-child(1) {
  margin-left: 0;
}

.icons a:hover {

}

.contact {
  background: #424242;
  height: 100%;
}

.top-bar-section ul {
  background: none;
}

.top-bar .toggle-topbar.menu-icon {
  margin-top: -37px;
}

.top-bar .toggle-topbar.menu-icon a {
  background: none;
}

.music {
  width: 100%;
  /*margin: 0 auto;*/
  text-align: center;
}

h6 {
  display: inline-block;
}

iframe {
  padding: 1em;
  /*display: table-cell;*/
  /*display: inline;*/
}

@media screen and (max-width: 728px) {
  .logo {

  }
}

@media only screen and (max-width: 320px) {
    /* styles for narrow screens */
}
