/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */

 body {
  background: #020203;
  width: 100%;
  height: 100%;
 }

 h1, h2, h3, h4, h5, h6, p {
  color: #D9C7C7;
  text-align: center;
 }

 h4, p {
  text-align: left;
 }



.logo {
  width: 100%;
  height: 90%;
  background: url("logo.png") center no-repeat;
  margin: 0 auto;
}

section {
  border-bottom: 1px solid #555;
}

.nav {
  width: 80%;
  height: 3em;
  margin: 0 auto;
  text-align: center;
}

.nav span {
  margin-left: 5em;
  line-height: 3em;
}

.nav span:nth-child(1) {
  margin-left: 0;
}

.nav a {
  color: #D9C7C7;
}

.nav a:hover {
  text-decoration: overline;
  /*color: #E3DED9;*/
}

.user-nav {
  font-size: 0.8em;
}

.dm {
  width: 100%;
  height: 80%;
  background: url("dm.jpg") center no-repeat;
  margin: 0 auto;
}

.container {
  padding: 1em;
  margin-top: 2em;
}

.icons {
  padding-top: 1em;
  text-align: center;
}

