/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require hover
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */

 body {
  background: #26292C;
  width: 100%;
  height: 100%;
 }

 h1, h2, h3, h4, h5, h6, p {
  color: #cbcbcb;
  text-align: center;
  font-weight: lighter;
  letter-spacing: 2px;
  /*font-family: "Lato";*/
 }

 h4, p {
  text-align: left;
 }

.box {
  background-color:rgba(0,0,0,0.4);
  border-radius: 10px;
  padding: 2em;
}

.logo {
  /*width: 100%;*/
  text-align: center;
  position: relative;
  top: 40%;
  padding: 0 1em;
}

.nav {
  border-bottom: 1px solid #555;
  height: 3em;
  /*margin: 0 auto;*/
  text-align: center;
}

.nav:nth-child(2) {
  border: none;
  background: none;
}

.nav span {
  margin-left: 5em;
  line-height: 3em;
}

.nav span:nth-child(1) {
  margin-left: 0;
}

.nav a {
  color: #CBCBCB;
  font-weight: lighter;
  letter-spacing: 2px;
}

.nav a:hover {
  text-decoration: overline;
}

.user-nav {
  font-size: 0.8em;
  border: none;
}

.container {
  padding: 2em;
  padding-top: 4em;
}

td {
  width: 100%;
  /*border-radius: 10px;*/
  background: none;
  color: #CBCBCB;
}

.live {
  background: url("live.jpg") fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.blog {
  background: url("news.jpg") fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-weight: 500;
  height: 100%;

}

.music {
  text-align: center;
  background: url("music.jpg") fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

.video {
  background: url("video.jpg") fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.contact {
  background: url("contact.jpg") fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
}

.center {
  position: relative;
  top: 50%;
  transform: translateY(20%);
}

.icons {
  margin-left: 5px;
  padding-top: 1em;
  text-align: center;
  height: 60px;
  height: 60px;
}

.icons:nth-child(1) {
  margin-left: 0;
}

.icons a:hover {

}

.videos {
  text-align: center;
}


.top-bar-section ul {
  background: none;
}

.top-bar .toggle-topbar.menu-icon {
  margin-top: -37px;
}

.top-bar .toggle-topbar.menu-icon a {
  background: none;
}

h6 {
  display: inline-block;
}

iframe {
  padding: 0.7em;
}

@media screen and (max-width: 728px) {
  .logo {

  }
}

@media only screen and (max-width: 320px) {
    /* styles for narrow screens */
}
