/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require hover
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */

 body {
  background: #212528;
  width: 100%;
  height: 100%;
 }

 h1, h2, h3, h4, h5, h6, p {
  color: #cbcbcb;
  text-align: center;
  letter-spacing: 2px;
  font-family: 'Lato', sans-serif;
 }

 h4, p {
  text-align: left;
 }

.box {
  margin: 2em auto;
  background-color:rgba(0,0,0,0.5);
  border-radius: 3px;
  padding: 1em 2em;
}

.logo {
  background: url("background.png") center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: calc(100vh - 48px);
  position: relative;
  top: 49px;
}

.logo__title {
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  font-size: 9vw;
  line-height: 1;
  position: absolute;
  top: calc(45% - 48px);
  width: 100%;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
}

.large::first-letter {
  font-size: 12vw;
}

.main-nav {
  background: #333333;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav {
  border-bottom: 1px solid #555;
  height: 3em;
  text-align: center;

}

.nav:nth-child(2) {
  border: none;
  background: none;
}

.nav span {
  margin-left: 5em;
  line-height: 3em;
}

.nav span:nth-child(1) {
  margin-left: 0;
}

.nav a {
  color: #CBCBCB;
  font-weight: lighter;
  letter-spacing: 2px;
}

.nav a:hover {
  text-decoration: overline;
}

.user-nav {
  font-size: 0.8em;
  border: none;
}

.container {
  padding: 2em;
  padding-top: 4em;
  height: auto;
}

.edit-screen {
  background: url("edit.jpg") fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100%;
}

.blog {
  background: url("news.jpg") fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100%;
}

.live-page {
  background: url("live.jpg") fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100%;
}

.music {
  text-align: center;
  background: url("music.jpg") fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100%;
}

.video-page {
  background: url("video.jpg") fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100%;

}

.photo-page {
  background: url("dvm1.jpg") fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100%;
}

.contact {
  background: url("contact.jpg") fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100%;
}

.middle-page {
  /*position: relative;*/
  /*top: 50%;*/
  transform: translateY(20%);
  padding-bottom: 2em;
}

.icons {
  margin-left: 5px;
  text-align: center;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icons:nth-child(1) {
  margin-left: 0;
}

.icons a img {
  height: 50px;
  width: 50px;
  transition: opacity 350ms ease;
}

.icons a img:hover {
  opacity: 0.7;
}

textarea {
  height: 200px;
}

label {
  color: #CBCBCB;
 }

.button {
  margin: 5px;
}

h6 {
  display: inline-block;
}

.videos {
  width: 100%;
  text-align: center;
}

.bc {
  display: inline-block;
}

iframe {
  padding: 0.7em;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 2em;
  width: 100%;
  /*font-family: "Lato";*/
  font-weight: lighter;
  color: #CBCBCB;
  background: #26292c;
  padding-top: 5px;
}

.image img {
  width: 125px;
  height: 125px;
  margin: 1em;
}

#small-nav {
  display: none;
}

.small-icon {
  display: none;
}


@media screen and (max-width: 920px) {
  .youtube {
    width: 400px;
    height: 300px;
    padding: 5px;
  }

  .nav span {
    font-size: 1em;
    margin-left: 1em;
  }
}

@media screen and (max-width: 568px) {
  .youtube {
    width: 400px;
    height: 300px;
    padding: 5px;
  }
  .bc {
    width: 275px;
    height: 440px;
    padding: 5px;
  }
  .contact a {
    font-size: 0.6em;
  }
  .icons {
    width: 30px;
    height: 30px;
    display: inline;
    text-align: center;

  }
  table {
    width: 90%;
  }

  .nav span {
    font-size: 0.8em;
    margin-left: 5px;
  }
}

@media only screen and (max-width: 400px) {
  .youtube {
    width: 200px;
    height: 150px;
    padding: 5px;
  }
  .bc {
    width: 200px;
    height: 350px;
    padding: 5px;
  }
  .contact a {
    font-size: 0.6em;
  }
  .icons {
    width: 30px;
    height: 30px;
    display: inline;
    text-align: center;
  }
  table {
    width: 100%;
  }
  table thead tr th, table tfoot tr th, table tfoot tr td, table tbody tr th, table tbody tr td, table tr td {
    font-size: 0.5em;
    padding: 2px;
  }

  .nav span {
    font-size: 0.7em;
    margin-left: 5px;
  }

  .user-nav span {
    font-size: 0.5em;
    margin-left: 2px;
  }

  .blog p img {
    height: auto;
  }

  .blog p a{
    font-size: 0.7em;
  }

  /*mobile menu*/

  #nav {
    display: none;
  }

  .user-nav.nav {
    display: none;
  }

  .small-icon {
    display: block;
    position: absolute;
    right: 0;
  }

  .small-icon span {
    padding-right: 1em;
    cursor: pointer;
    color: #ffffff;
  }

  #small-nav {
    position: absolute;
    right: 0em;
    top: 3em;
    background: rgba(38, 41, 44, 0.95);
    border: 1px solid #555555;
    width: 7em;
    padding: 1em;
  }

  #small-nav ul {
    margin: 0;
  }

  #small-nav span {
    display: block;
    margin-left: 0;
    font-size: 0.6em;
  }

  #small-nav span a {
    text-decoration: none;
    display: block;
    color: inherit;
    height: 3em;
    line-height: 3em;
    padding: 0 0.5em 0 0.5em;
    outline: none;
  }

  #small-nav span a:hover {
    background: rgba(0,0,0,0.5);
  }




}
